html {
    scroll-behavior: smooth;
    --purple: rgb(108, 58, 189);
    --gray-header: #202020;
    --gray-body: #2b2929;
}

body {
    margin: 0;
    padding: 0;
    background: var(--gray-body);
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.content-space {
    width: 80rem;
    margin: 0 auto;
}

#container {
    margin-top: 4rem;		
    padding: 10px;
    text-align: center;
}

#header-div header {
    height: 5rem;
    background: var(--gray-header);
    position: fixed;
    top: 0;
    width: 100%;
}

#header-content {
    text-align: justify;
    justify-content: space-between;
    height: 100%;
    display: flex;
}

#header-logo {
    height: 4rem;
    margin: .5rem;
}

#header-links {
    margin: auto 0;
    font-size: 1.2rem;
    font-weight: bold;
}

#header-links a {
    text-decoration: none;
    margin-left: 1.2rem;
    color: white
}

#header-links a:hover {
    color: var(--purple);
    transition-duration: 0.3s;
}

#header-links a:not( :hover ) {
    color: white;
    transition-duration: 0.3s;
}

#main {
    padding: 10;
}

#myphoto{
    width: 15rem;
    margin-bottom: 2rem;
    border-radius: 50%;
}

h2 {
    font-size: 3.5rem;
}

h1 {
    font-size: 3.5rem;
}

h1 span {
    max-width: 60rem;
}

h1 span:hover, .goespurple:hover {
    font-size: 3.7rem;
    color: var(--purple);
    transition-duration: 0.5s;
}

h1 span:not( :hover ) {
    font-size: 3.5rem;
    color: black;
    transition-duration: 0.5s;
}

.goespurple:not( :hover ) {
    font-size: 3.5rem;
    color: white;
    transition-duration: 0.5s;
}

#aboutme {
    margin-top: 15rem;
}

#aboutme p {
    font-size: 1.8rem;
}

#aboutme p span {
    font-weight: bold;
}

#aboutme #abilities {
    margin-top: 10rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

#aboutme #abilities .progress {
    display: flex;
    justify-content: space-between;
}

#aboutme #abilities .progress .progress-bar {
    display: flex;

    background-color: white;
    height: 1.5rem;
    border-radius: 3%;
}

#aboutme #abilities .progress .progress-bar:hover {
    background-color: var(--purple);
    transition-duration: .5s;
}

#aboutme #abilities .progress .progress-bar:not( hover ) {
    background-color: white;
    transition-duration: .5s;
}

#abilities .progress h3 {
    font-size: 1.4rem;
}

#abilities .progress #progress-bar1 {
    width: 51.8%;
}

#abilities .progress #progress-bar2 {
    width: 67.2%;
}

#abilities .progress #progress-bar3 {
    width: 74.9%;
}

#abilities .progress #progress-bar4 {
    width: 90.3%;
}

#contact #contact-links a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

#contact #contact-links a:hover{
    color: var(--purple);
    transition-duration: 0.3s;
    
    border-radius: 5%;
}

#contact #contact-links a:not( :hover ) {
    color: white;
    transition-duration: 0.3s;
}